
body { font-family: 'Montserrat', sans-serif; margin:0; padding:0; background:#fbfbfa; color:#1b1b1b; }
header { background:#044c3c; color:#fff; padding:20px; text-align:center; }
h1 { font-family:'Playfair Display', serif; font-size:32px; }
